<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title></title>
    <script src="libraries/angular/js/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28//angular-route.min.js"></script>

    <script src="js/app.js"></script>
    <script src="js/controllers/parentController.js"></script>
    <script src="js/controllers/childController.js"></script>
    <script src="js/controllers/firstController.js"></script>
    <script src="js/controllers/secondController.js"></script>


</head>
<body ng-app="myApp">
    <div ng-controller="parentController">
        {{rootMessage}}
        {{message}}
        <hr />
     Test----   {{recRootMessage}}

        <div ng-controller="childController">
            {{recRootMessage}}
            {{message}}
            {{newMessage}}
            <input type="button" ng-click="updateParent()"   value="Update Parent" />

        </div>

    </div>

    <hr /><hr />

    <div ng-controller="firstController">

        <input type="button" ng-click="updateSecond()" value="Update Second" />
       
    </div>

    <div ng-controller="secondController">
        {{message}}
    </div>


</body>
</html>
